.sidebar {
    float: left;
    margin-left: calc(-100%);
    width: 200px;
}

.logo {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.github-link {
    padding-top: 30px;
    margin: 0 10px;
    font-size: large;
    width: 150px;
    text-align: center;
    display: block;
    cursor: pointer;
}
.github-link:hover {
    color: #0cd0f3;
}

.navbar {
    margin-top: 30px;
    margin-left: 10px;
    width: 90%;
}
.nav-item {
    height: 2em;
    cursor: pointer;
    margin: 10px;
    padding-left: 10px;
}
.nav-item:hover {
    border-bottom: 1px solid #0cd0f3;
}
.nav-item-active {
    color: #0cd0f3;
    font-weight: bolder;
}
